/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Outfit", sans-serif;

  background-image: url('assets/images/bg-illustration.svg');
  background-color: #111729;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 10rem center;

  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem !important;
}

.container-center {
  text-align: center;
  display: block;
}

.img-logo {
  margin-bottom: 30px;
}

.input-with-button {
  position: relative;
  display: inline-block;
}

.input-with-button input {
  height: 60px;
  padding: 0;
  border: #3662E3 solid 3px;
  background-color: #060912;
  border-radius: 20px;
  padding-left: 20px;
  color: #364153;
  font-weight: bold;
}

.cambiar-tamano {
  width: 45vw;
}

@media screen and (max-width: 900px) {
  .cambiar-tamano {
    width: 80vw;
  }
}

.btn {
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 85%;
  border-radius: 15px;
  background-color: #3662E3;
  border: none;
  color: white;
  padding: 0 50px;
  cursor: crosshair;
}